asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.1.5
django-betterforms==1.2
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-crispy-forms==1.11.2
django-decouple==2.1
django-js-asset==1.2.2
django-location-field==2.1.0
django-mapbox-location-field==1.7.1
Pillow==8.1.0
pytz==2020.5
qrcode==6.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
