{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Nullam</title>

    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</head>
<body>

<!--NAV_bar-->
{% include 'doc_include/__navbar.html' %}
<!--SLIDER-->
{% include 'doc_include/_slider.html' %}

{% block content %}
{% endblock %}

<!--footer-->
{% include 'doc_include/__footer.html' %}

</body>
</html>