{% extends 'accounts/dashmain.html' %}

{% load static %}

{% block content %}

            {%  include 'accounts/status.html' %}

<!--recapulatif-->         
<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">display all participants</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Events</th>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 EVENTS</h5>
        {% if eventss %}
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'my/events' %}">DISPLAY ALL EVENTS</a>
                <table class="table table-sm">
                    <tr>
                        <th>IMAGES</th>
                        <th>TITLES</th>
                        <th>LOCATION</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                    </tr>
                    <tbody>
                        {% for event in eventdash %}
                                <tr>
                                    <td style="width: 15%; height: 50px;"><img src="{{event.images_baniere.url}}"></td>
                                    <td style="padding: 5px;">{{event.name}}</td>
                                    <td>{{event.location}}</td>
                                    <td>{{event.event_start_date}}</td>
                                    <td>{{event.event_end_date}}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>You don't have any events yet...</p>
         {% endif %}
	</div>
{% endblock content %}  
