{% block title %}Create Event{% endblock title %}
{% block breadcrumb %}Create Event{% endblock breadcrumb %}
{% load crispy_forms_tags %}

{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eventick - Create your event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'logo.png' %}" rel="icon">
    <link rel="shortcut icon" type="image/png" href="{% static 'inc/bon/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/slicknav.min.css' %}">
    <!-- amchart css -->

    <!-- others css -->
    <link rel="stylesheet" href="{% static 'inc/bon/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'inc/bon/css/responsive.css' %}">

    <!-- modernizr css -->

</head>

<style>

    body {
        align-items: center;
        justify-content: center;
        /* min-height: 100vh; */
    }

    ::selection {
        color: #fff;
    }

    .container {
        width: 800px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 50px 35px 10px 35px;
    }

    form .field {
        width: 500px;
        height: 45px;
        margin: 45px 0;
        padding-left: 50px;
        position: relative;
    }

    form .field .label {
        position: absolute;
        top: -30px;
        font-weight: 500;
    }

    form .field button {
        width: 100%;
        height: calc(100% + 5px);
        border: none;
        background: #5fcf80;
        margin-top: -20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: 0.5s ease;
    }


    .zone .field {
        width: 350px;
        height: 200px;
        border: 2px dashed #ccc;
        color: #ccc;
        line-height: 30px;
        text-align: center;
    }

</style>


<body>

<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <avatar><img src="{% static 'logo.png' %}"/></avatar>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>manage your envents</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="{% url 'events:create-event' %}">create event</a></li>
                                <li><a href="index2.html">my events</a></li>
                                <li><a href="index3.html">Modified your event</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-layout-sidebar-left"></i><span>Sidebar
                                        Types
                                    </span></a>
                            <ul class="collapse">
                                <li><a href="index.html">Left Sidebar</a></li>
                                <li><a href="index3-horizontalmenu.html">Horizontal Sidebar</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i> <span>Multi
                                        level menu</span></a>
                            <ul class="collapse">
                                <li><a href="#">Item level (1)</a></li>
                                <li><a href="#">Item level (1)</a></li>
                                <li><a href="#" aria-expanded="true">Item level (1)</a>
                                    <ul class="collapse">
                                        <li><a href="#">Item level (2)</a></li>
                                        <li><a href="#">Item level (2)</a></li>
                                        <li><a href="#">Item level (2)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item level (1)</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Create your event</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="{% url 'events:home' %}">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="{% static 'logo.png' %}" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">hello , {{ request.user.username }}<i
                                class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="container" style="margin-top: 8%;">
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form |crispy }}
                    <input type="submit" value="Create Event" class="btn btn-md btn-info">
                </form>
                {{ form.media }}
              </div> -->


        <div class="container">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        basic Information
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal " method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field">
                                <div class="label">Name of Event</div>
                                {{ form.name }}
                            </div>
                            <div class="field">
                                <div class="label">Input Tags</div>
                                {{ form.tag }}
                            </div>
                            <div class="field">
                                <div class="label">Cathegories</div>
                                {{ form.category }}
                            </div>

                            <!--Location-->
                            <div class="field">
                                <div class="label">Location</div>
                                {{ form.location }}
                            </div>

                            <!--Start date-->
                            <div class="field">
                                <div class="label">Start Date</div>
                                {{ form.event_start_date }}
                            </div>

                            <!--start time-->
                            <div class="field">
                                <div class="label">Start Time</div>
                                {{ form.event_start_time }}
                            </div>

                            <!--End date-->
                            <div class="field">
                                <div class="label">End Date</div>
                                {{ form.event_end_date }}
                            </div>

                            <!--End time-->
                            <div class="field">
                                <div class="label">End Time</div>
                                {{ form.event_end_time }}
                            </div>
                            <div class="zone field">
                                <div class="label">Image Principale</div>
                                {{ form.images_baniere }}
                            </div>

                            <div class="zone field">
                                <div class="label">Autre Image</div>
                                {{ form.images_2 }}Event
                            </div>
                            <!--description-->
                            <div class="form-group">
                                <div class="label">Description</div>
                                {{ form.description|as_crispy_field }}
                            </div>
                            <br>
                            <br>
                            <div class="field">

                                <button class="firstNext next" type="submit">save and continus</button>
                            </div>
                        </form>
                        {{ form.media }}
                    </div>
                </section>
            </div>
        </div>


        <!-- jquery latest version -->
        <script src="{% static 'inc/bon/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <!-- jquery latest version -->
        <script src="{% static 'inc/bon/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <!-- bootstrap 4 js -->
        <script src="{% static 'inc/bon/js/popper.min.js' %}"></script>
        <script src="{% static 'inc/bon/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'inc/bon/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'inc/bon/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'inc/bon/js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'inc/bon/js/jquery.slicknav.min.js' %}"></script>

        <!-- others plugins -->
        <script src="{% static 'inc/bon/js/plugins.js' %}"></script>
        <script src="{% static 'inc/bon/js/scripts.js' %}"></script>
        <!-- start chart js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <!-- start highcharts js -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <!-- start zingchart js -->
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script>
            zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
        </script>
</body>

</html>
