{% load crispy_forms_tags %}

{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>event | Ticket Payment</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />


  <!-- Bootstrap core CSS -->
  <link href="{% static 'event-detail/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'event-detail/css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'event-detail/css/style.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/cart.css' %}" rel="stylesheet">
  <link href="{% static 'shine/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'shine/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'shine/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'shine/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'shine/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'shine/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'shine/aos/aos.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'events:home' %}" target="_blank">
        <strong class="green-text">home
          <span class="sr-only">(current)</span>
        </strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons ml-auto">
          {% if request.user.is_authenticated %}
          <div class="dropdown show">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Hello, {{request.user.username}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'dashboard' %}">My space</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          {% else %}
          <li class="nav-item"><a href="#" class="nav-link waves-effect" target="_blank">Create an event</a></li>
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link waves-effect" target="_blank">Login</a></li>
          <li class="nav-item"><a href="{% url 'register' %}" class="nav-link waves-effect" target="_blank">Signup</a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
  

  <!--paiment  -->
  <form method="POST" action="{% url 'events:checkout' %}" style="margin-top: 7%;">
  <div class="row" style="margin: 3px;">
    <div class="col-lg-12" style="display: flex;">
      <div class="col-lg-6">
        <div class="box-element" id="form-wrapper" style="padding: 0px;">
          
            <div id="user-info">
              <div class="form-field">
                <input required class="form-control" type="text" id="name" placeholder="Name..">
              </div>
              <div class="form-field">
                <input required class="form-control" type="email" id="email" placeholder="Email..">
              </div>
            </div>

            <div id="shipping-info">
              <hr>
              <p>Shipping Information:</p>
              <hr>
              <div class="form-field">
                <input class="form-control" type="text" id="address" placeholder="Address..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" id="city" placeholder="City..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" id="state" placeholder="State..">
              </div>
              <hr>
              <div class="form-field">
                <input class="form-control" type="text" id="zipcode" placeholder="Zip code..">
              </div>
              <div class="form-field">
                <input class="form-control" type="tel" id="telephone" placeholder="Telephone">
              </div>

            </div>
       
        </div>
      </div>
      <div class="col-lg-6 div">
        <div class="box-element" id="form-wrapper" style="padding: 0px;">
          <img class="img" src={{itms.ticket.event.images_2.url}} style="height: 380px;width: 640px;">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>


  <div class="row" style="margin: 50px;">
    <div class="col-lg-12">
      <br>
      <div class="box-element">
        <div class="cart-row">
          <div style="flex:2;margin: 20px;"></div>
          <div style="flex:2; margin: 20px;"><strong class="green-text">Ticket Type</strong></div>
          <div style="flex:1; margin: 20px;"><strong class="green-text">Ticket Price</strong></div>
          <div style="flex:1;margin: 20px;"><strong class="green-text"> Ticket Quantity</strong></div>
          <div style="flex:1; margin: 20px;"><strong class="green-text">Total</strong></div>
        </div>

        <div class="cart-row">
          <div style="flex:2"><img class="row-image" style="padding: 5px; height: 86px;" src={{itms.ticket.event.images_baniere.url}}></div>
          <div style="flex:2; margin: 20px;">
            <p>
              <input type="text" id="categorie" value="{{itms.ticket.ticket_cathegories}}"
                style="border: cornsilk; width: 90px;" disabled>
            </p>
          </div>
          <div style="flex:1;margin: 20px;">
            <div class="green-text" style="flex:1"><input type="number" id="price" value="{{itms.ticket.price}}"
                style="border: cornsilk; width: 90px;" disabled>FRCFA</div>
          </div>

          <div style="flex:1; margin: 20px;" onclick="get_total()" oninput="get_total()">
            X <input type="number" min="1" style="width: 60px;;" id="qte" value="1" style="border: cornsilk;">
          
            <div class="quantity">
              <!-- <img data-ticket="0" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
    
          <img data-ticket="0" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}"> -->
            </div>
          </div>
          <div style="flex:1; margin: 20px;"><input type="number" id="total" value="{{itms.ticket.price}}"
              style="border: cornsilk; width: 90px;" disabled>FRCFA</div>
        </div><br>
      </div>
    </div>
  </div>


  <div class="row" style="margin: 5px;">
    <div class="col-lg-12">

      <div class="box-element">

        <table class="table">
          <tr>
            <th>
              <h5>TICKET Qte: <strong><input type="text" style="width: 50px; border: aliceblue;" id="totalqte" value="1"
                    disabled style="border: cornsilk;"></strong></h5>
            </th>
            <th>
              <h5>Total: <strong><input type="text" id="check" value="{{itms.price}}"
                    style="border: cornsilk; width: 90px;" disabled>FRCFA
      </div></strong></h5>
      </th>
      <th>

     
          {% csrf_token %}
          <button style="float:right; margin:5px;" class="btn btn-success" onclick="handleSubmit()" type="submit"
           >Checkout</button>
      </th>
      </tr>
      </table>

    </div>

  </div>

</form>
  <!-- /paiment -->


  <!-- footer -->
  <!-- ======= Footer ======= -->

  <footer id="footer" class="col-lg-12">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Eventick</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Eventick</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'event-detail/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'event-detail/js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'event-detail/js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'event-detail/js/mdb.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pays.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>

  <script type="text/javascript">
    function get_total() {

      var price_ticket = document.getElementById("price").value;
      var ptk = parseFloat(price_ticket);

      var ticket_quantity = document.getElementById("qte").value;
      var tq = parseFloat(ticket_quantity);

      var total = ptk * tq;


      document.getElementById("total").value = total;
      document.getElementById("check").value = total;
      document.getElementById("totalqte").value = tq;

    }

    //Fonction qui permet de recuperer toute les valeurs des champs renseigner et enregistre dans le tableau

    function handleSubmit() {
      var name = document.getElementById('name').value;
      var email = document.getElementById('email').value;
      var address = document.getElementById("address").value;
      var city = document.getElementById("city").value;
      var state = document.getElementById("state").value;
      var zipcode = document.getElementById("zipcode").value;
      var telephone = document.getElementById("telephone").value;
      var total = document.getElementById("check").value;
      var quantite = document.getElementById("totalqte").value;
      var categorie = document.getElementById("categorie").value;

      // to set into local storage
      /* localStorage.setItem("NAME", name);
      localStorage.setItem("SURNAME", surname); */


      sessionStorage.setItem("NAME", name);
      sessionStorage.setItem("EMAIL", email);
      sessionStorage.setItem("ADDRESS", address);
      sessionStorage.setItem("CITY", city);
      sessionStorage.setItem("STATE", state);
      sessionStorage.setItem("ZIPCODE", zipcode);
      sessionStorage.setItem("TELEPHONE", telephone);
      sessionStorage.setItem("TOTAL", total);
      sessionStorage.setItem("QUANTITE", quantite);
      sessionStorage.setItem("CATEGORIE", categorie);

      return;
    }

  </script>

</body>

</html>